.slidev-layout {
    font-family: "Hiragino Sans", "Noto Sans JP", "Helvetica Neue", Arial,
        "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 120%;
    }

    h1,
    h2 {
        font-size: 3rem;
        margin: 0.5em 0;
    }
    h2 {
        font-size: 2rem;
    }

    p,
    ul {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5;
    }

    strong {
        font-weight: 900;
    }
}
